#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    padding: 30px 5% 30px 5%;
    margin: 0 3% 100px 3%;
}

.card-group {

    border: 3px #0b0433 solid;
    background-color: white;
    color: #0b0433;

    padding: 2% 5%;
    border-radius: 15px;
    
    
}