#wallpaper {
    background-image: url('../../img/earth-wallpaper.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px -95px;
    padding-bottom: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

}

#text {
    color: white;
    font-weight: bold;
    background-color: #0b0433;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8.7vh;
    padding-right: 10px;
    padding-left: 10px;
}

.buttons-homepage {
    margin-top: 33vh;
    margin-bottom: 30vh;
}