.preencher {
    height: 100vh;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
}

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.num {
    list-style: none;
    font-size: 1.5em;
    border-radius: 100px;
    padding: 12px 24px;
    text-align: center;
    color: black;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 22pt;
}

.game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
}

.game-notice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
}