.padrao-icones {
    width: 40px;
    margin-left: 30px; 
    }

.padrao-produtos {
    width: 150px;
}

.cabecalho {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 25pt;
    font-weight: bold;
    background-color:#ffd034;
    color:black;
    text-align:center;
    margin: 15px 10px;
    padding: 15px 20px;
    display: block;
}

.rodape {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: none;
    font-size: 12pt;
    font-weight: bold;
    background-color:#ffd034;
    color:black;
    text-align:center;
    margin: 15px 10px;
    padding: 15px 20px;
    display: block;
}

.back-pattern {
    background-color: rgb(203, 221, 198);
}

.botoes-acoes {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    margin: 30px;
    background-color: none;
    display: block;
}

.texto-secundario {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: none;
    font-size: 12pt;
    font-weight: bold;
    background-color:#ffd034;
    color:black;
    text-align:center;
    margin: 15px 10px;
    padding: 15px 20px;
    display: block;
}

table {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

tr {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

th {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.fonte-padrao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}